* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title {
    text-align: center;
    padding: 2rem;
}

.main-container {
    max-width: 800px;
    margin: 0 auto;
}

.todo-list-wrapper {
    margin-bottom: 1rem;
}

.task-item {
    display: flex;
    /* justify-content: space-between; */
    margin-bottom: .5rem;
    width: 100%;
}

.task-item span.done {
    text-decoration: line-through;
    color: gray;
}

.task-item i {
    margin-left: auto;
}

ul {
    list-style: none;
}
