<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue TodoList</title>

    <!-- Fontawesome 6.5.2 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- css -->
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div id="app">
        <header>
            <section class="title">
                <h1>
                    TodoList
                </h1>
            </section>
        </header>
        <main>
            <div class="main-container">
                <section class="todo-list-wrapper">
                    <ul class="todo-list">
                        <li  
                        v-for="(task, index) in tasksList" 
                        class="task-item">
                            <span @click="toggleDone(index)" :class="task.done === true ? 'done' : ''">
                                {{ task.text }}
                            </span>
                            <i @click="removeTask(index)" id="remove-task-button" class="fa-solid fa-square-minus"></i>
                        </li>
                    </ul>
                </section>
                <section class="new-task bar">
                    <input type="text" v-model="newTaskText" @keyup.enter="createNewTask" placeholder="Add a new task">
                </section>
            </div>
        </main>
    </div>
    
    <!-- Vue3 -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <!-- js -->
    <script src="./js/script.js"></script>
</body>
</html>